@use '../../scss/colors.module.scss' as colors;

main {
    flex-grow: 1;
    min-height: 50vh;
    margin-bottom: 150px;

    .profil {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
        filter: drop-shadow(0px 0px 0.6rem colors.$backgroundShadowLight);


    }

    .skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        padding: auto;

        @media screen and (min-height: 512px) {
            h2 {
                text-align: center;
            }

        }

        ul {
            @media screen and (min-height: 512px) {
                padding: 0;

            }


            li {
                list-style: none;

            }
        }
    }

}