@use '../../scss/colors.module.scss' as colors;

footer {
    position: relative;
    display: grid;
    place-items: center;
    border-bottom: 4px solid;
    border-image: linear-gradient(to right, colors.$colorMain, colors.$colorSecondary) 1;


    &::after {
        content: '';
        position: absolute;
        bottom: 15px;
        height: 15px;
        width: 100%;
        box-shadow: 0 30px 13px colors.$colorMain;
    }

    .punchline {
        width: 150px;
        margin-bottom: clamp(20px, 5vw, 50px);
    }

    .pyramides {
        width: 250px;
        filter: drop-shadow(-10px -10px 1.5rem colors.$colorMain);

        img {
            display: block;
        }




    }

}