@use '../../scss/colors.module.scss' as colors;

footer {


    .punchline {
        width: 150px;
    }

    .pyramides {
        width: 250px;
        filter: drop-shadow(-10px -10px 4rem colors.$colorMain);

        img {
            line-height: 0;
        }






    }

}